@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1>Welcome to Admin Pannel</h1>
                <p class="lead">Manage impounded vehicles</p>
                <a href="/Admin/ViewImounds" class="btn btn-primary">Manage Impounds</a>
                <a href="/Admin/ViewUsers" class="btn btn-primary">Manage Users</a>
            </div>
        </div>
    </div>

</body>
</html>
