@model CarImpoundSystem.Models.ImpoundmentRecord

@{
    ViewData["Title"] = "EditImpound";
}

<h1>Edit Impound</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditImpound">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="recordId" />
            <div class="form-group">
                <label asp-for="payment" class="control-label"></label>
                <input asp-for="payment" class="form-control" />
                <span asp-validation-for="payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
