@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1>Welcome to Car Impound System</h1>
                <p class="lead">Manage impounded vehicles efficiently</p>
                <a href="/Admin/Login" class="btn btn-primary">Log In as Admin</a>
                <a href="/Worker/Login" class="btn btn-primary">Log In as Worker</a>
                <p> OR </p>
                <p>Chek car status</p>
                <a href="/User/SearchByLicense" class="btn btn-primary">Check Car Status</a>
            </div>
        </div>
    </div>

</body>
</html>
