@model CarImpoundSystem.Models.ImpoundmentRecord

@{
    ViewData["Title"] = "Impound";
}

<h1>Impound</h1>

<h4>ImpoundmentRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Impound">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <select asp-for="LicensePlate" class="form-control" asp-items="ViewBag.LicensePlate"></select>
                <p> Cannot find it?</p>
                <a asp-action="RegisterVehicle">Register new vehicle</a>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reason" class="control-label"></label>
                <input asp-for="reason" class="form-control" />
                <span asp-validation-for="reason" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewCars">Back to List</a>
</div>

