@model IEnumerable<CarImpoundSystem.Models.ImpoundmentRecord>


@{
    ViewData["Title"] = "Search By License Plate";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Search By License Plate</h2>
                    <form asp-controller="User" asp-action="SearchImpound" method="get">
                    <input name="LicensePlate" class="form-control me-1" type="LicensePlate" placeholder="LicensePlate" aria-label="LicensePlate">
                        <button class="btn btn-dark" type="submit">Search by License</button>
                    </form>
            </div>
        </div>
    </div> 

</body>
</html>
